@import "tailwindcss";

:root {
  --background: #45474f;
  --foreground: #f4f5fa;
  --divider: #f4f5fa80;
  --accent: #303b2b;
  --accent-fade: #303b2b4b;
  --border: rgba(45, 45, 46, 0.719);
  --border-list: rgba(0, 0, 0, 0.4);
  --dash-bg: #2f2f2f;
  --input-bg: rgba(32, 32, 32, 0.5);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sansation-sans);
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  padding: 1rem;
  row-gap: 1rem;
  max-width: 1056px;
  margin: auto;
  /* font-family: Arial, Helvetica, sans-serif; */
}

img {
  width: auto;
  height: auto;
}

footer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

header {
  /* background-color: var(--accent); */
  /* border: var(--border) 2px solid; */
  /* border-radius: 0.2rem; */
  margin: 1rem 0;
}

th {
  text-align: start;
}
th,
td {
  padding: 0.4rem 0.8rem;
}

thead th {
  background-color: var(--background);
}

table td {
  border-bottom: solid 1px var(--background);
}

table {
  border: solid 1px var(--foreground);
  border-radius: 0.5rem;
  overflow: hidden;
}
.dash-menu button,
.login-button,
.user-page button,
textarea,
input {
  background-color: var(--input-bg);
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
}

.dash-menu button {
  padding: 2rem;
  max-width: 12rem;
  border: 1px solid var(--input-bg);
}

input:read-only,
input[type="submit"]:disabled {
  background-color: var(--border);
  border: solid 1px var(--foreground);
}

input[type="submit"],
a,
button {
  cursor: pointer;
  transition: all 250ms ease-in;
}

input[type="submit"]:active,
button:active {
  background-color: var(--divider);
  color: var(--dash-bg);
}

select {
  padding: 0.4rem;
  background-color: var(--input-bg);
}
option {
  background-color: var(--background);
}
option:disabled {
  color: var(--foreground);
}

form p a:hover {
  text-decoration: underline;
}

.dash-menu button:hover {
  border: var(--foreground) 1px solid;
}
.dash-menu button:hover,
.login-button:hover,
.navigator a:hover {
  background-color: var(--dash-bg);
}
.navigator a {
  border-radius: 0.2rem;
}

.add-product {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  background-color: var(--background);
}

.delete-button:hover,
.edit-button:hover,
.submit-button:hover,
.add-product:hover {
  background-color: var(--accent);
}

li a {
  white-space: nowrap;
}

.products-list li {
  background-color: var(--background);
  width: 380px;
  border-radius: 0.4rem;
}

/* 
nav {
  border-radius: 0.2rem;
  border: var(--border) 2px solid;
} */

.dash-section {
  background-color: var(--dash-bg);
}

.items-list,
.balance,
.stats {
  background-color: var(--background);
  border-radius: 0.4rem;
}

.divider {
  width: 0.1rem;
  height: 100%;
  background-color: var(--divider);
}

.delete-button,
.edit-button {
  background-color: var(--dash-bg);
  border-radius: 0.4rem;
}

.logout-button a:hover,
.header-welcome a:hover {
  text-decoration: underline;
}

.user-page button:hover {
  background-color: rgba(220, 20, 60, 0.7);
}

.user-page {
  padding: 1rem;
  min-height: 80vh;
}

.home-dash {
  min-height: 80vh;
}

.amount-btn span {
  border-left: solid 1px var(--input-bg);
  border-right: solid 1px var(--input-bg);
  padding: 0 0.6rem;
}
.amount-btn {
  /* background-color: var(--input-bg); */
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
  border: solid 1px var(--border-list);
}

.products-selection {
  border: solid 1px var(--border-list);
  border-radius: 0.5rem;
}
