@import "tailwindcss";

:root {
  /* --background: #45474f; */
  --background: #14111a;
  --admin-card: #15151aea;
  --foreground: #f4f5fa;
  /* --divider: #f4f5fa80; */
  --divider: rgba(180, 180, 200, 0.6);
  --accent: #00000066;
  --accent-fade: #303b2b4b;
  --border: rgba(45, 45, 46, 0.8);
  --hover-bg: #5c54709c;
  /* --border-list: #0000008a; */
  --list-bg: #13111aa9;
  --border-list: #13111aa9;
  /* --dash-bg: #2f2f2f; */
  --dash-bg: #4e475f70;
  /* --input-bg: rgba(32, 32, 32, 0.7); */
  --input-bg: #13111aa9;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sansation-sans);
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@media (max-width: 640px) {
  .order-summary {
    width: 100%;
  }
  .sales-amount,
  .sales-content,
  .purchase-title-details,
  .sale-title-details {
    flex-direction: column;
    gap: 1rem;
  }
  .total-sales-title,
  .purchase-total,
  .order-items-data,
  .sale-items-details {
    display: none;
  }
  .log-info section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 560px) {
  .supplier-item-title {
    align-items: start;
  }
  .supplier-item-details {
    align-items: end;
  }
  .supplier-item-details,
  .supplier-item-title,
  .stats-details-container {
    flex-direction: column;
    gap: 1rem;
  }

  .cash-stats-container,
  .stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .unit-cost,
  .orders-approved,
  .orders-delivered {
    display: none;
  }
}
@media (max-width: 768px) {
  .header-greetings,
  .navigator {
    display: none;
  }
  .dash-header h1 {
    font-size: xx-large;
  }
  .menu-products {
    flex-direction: column;
  }
}
@media (max-width: 980px) {
  .supply-stats,
  .service-stats {
    flex-direction: column;
  }
  .cash-stats-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 769px) {
  .nav-menu-btn,
  .header-menu {
    display: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  padding: 1rem;
  row-gap: 1rem;
  max-width: 1056px;
  margin: auto;
  /* font-family: Arial, Helvetica, sans-serif; */
}

img {
  width: auto;
  height: auto;
}

footer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

header {
  /* background-color: var(--accent); */
  /* border: var(--border) 2px solid; */
  /* border-radius: 0.2rem; */
  margin-bottom: 1rem;
}

th {
  text-align: start;
}
th,
td {
  padding: 0.4rem 0.8rem;
  font-size: small;
}

thead th,
tbody {
  background-color: var(--border-list);
}

table tr {
  border-bottom: solid 1px var(--background);
}

table {
  /* border: solid 1px var(--foreground); */
  border-radius: 0.5rem;
  overflow: hidden;
}
.dash-menu button,
.login-button,
.user-page button,
textarea,
input {
  background-color: var(--input-bg);
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
}

.reg-form textarea,
.reg-form input,
.signup-form input,
.login-form input {
  background-color: var(--accent);
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
}

.dash-menu button {
  padding: 2rem;
  max-width: 12rem;
  border: 1px solid var(--border-list);
}

/* input:read-only, */

.complete-btn:disabled,
input[type="submit"]:disabled {
  background-color: var(--foreground);
  border: solid 1px var(--input-bg);
  color: var(--input-bg);
}

.innovante {
  padding: 0.1rem 0.2rem;
}
.innovante,
input[type="submit"] {
  border: solid 1px var(--foreground);
}
input[type="submit"],
a,
button {
  cursor: pointer;
  transition: all 250ms ease-in;
}

input[type="submit"]:active,
button:active {
  background-color: var(--foreground);
  color: var(--dash-bg);
}

select {
  padding: 0.4rem 0.8rem;
  background-color: var(--input-bg);
  appearance: none;
}
option {
  background-color: var(--background);
}

form {
  width: 100%;
}
form p a:hover {
  text-decoration: underline;
}

fieldset {
  /* border: 1px solid var(--border-list); */
  border-radius: 0.4rem;
  background-color: var(--dash-bg);
}

fieldset legend {
  padding: 0.4rem;
  /* border: 1px solid var(--border-list); */
  border-radius: 0.4rem;
  background-color: var(--background);
}

fieldset div {
  border-radius: 0.4rem;
  background-color: var(--input-bg);
}

.dash-menu button:hover {
  border: var(--foreground) 1px solid;
}

.header-menu a:hover,
.dash-menu button:hover,
.login-button:hover,
.navigator a:hover {
  background-color: var(--hover-bg);
}

.is-active {
  background-color: var(--dash-bg);
}
.navigator a:active {
  background-color: #f4f5fa;
  color: #2f2f2f;
}
.header-menu a,
.navigator a {
  border-radius: 0.2rem;
}

.user-header a,
.add-product {
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  border: solid 1px var(--input-bg);
  background-color: var(--input-bg);
  height: fit-content;
}

.user-header a:hover,
.complete-btn:hover,
.delete-button:hover,
.edit-button:hover,
.submit-button:hover,
.add-product:hover {
  translate: 0 -2px;
  border-radius: 0;
  border: solid 1px var(--foreground);
  background-color: var(--hover-bg);
}

li a {
  white-space: nowrap;
}

.listing-item {
  background-color: var(--input-bg);
  width: 380px;
  border-radius: 0.4rem;
}

.listing-stock-item {
  border-radius: 0.4rem;

  background-color: var(--input-bg);
}

.supplier-item {
  background-color: var(--input-bg);
  border-radius: 0.4rem;
}

.drinks-list {
  background-color: var(--input-bg);
  border-radius: 0.4rem;
}
/* 
nav {
  border-radius: 0.2rem;
  border: var(--border) 2px solid;
} */

.dash-section {
  background-color: var(--dash-bg);
  height: 75vh;
  overflow: auto;
  border-radius: 0.8rem;
}

.items-list,
.balance,
.stats {
  background-color: var(--input-bg);
  border-radius: 0.4rem;
}

.divider {
  width: 0.1rem;
  height: 100%;
  background-color: var(--divider);
}

.divider-flat {
  height: 0.1rem;
  width: 100%;
  background-color: var(--divider);
}

.delete-button,
.edit-button {
  background-color: var(--dash-bg);
  border-radius: 0.4rem;
}

.delivery-header a:hover,
.logout-button a:hover,
.header-welcome a:hover {
  text-decoration: underline;
}

.delivery-header a,
.user-page button:hover {
  background-color: rgba(220, 20, 60, 0.7);
}

.user-page {
  border-radius: 0.4rem;
  padding: 2rem;
  margin: 1rem;
  min-height: 80vh;
  /* background-color: var(--accent); */
  background-color: var(--dash-bg);
}

.home-dash {
  min-height: 80vh;
}

.amount-btn span {
  border-left: solid 1px var(--input-bg);
  border-right: solid 1px var(--input-bg);
  padding: 0 0.6rem;
}

.amount-btn:hover {
  border-color: var(--divider);
}
.amount-btn {
  /* background-color: var(--input-bg); */
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
  border: solid 1px var(--border-list);
}

.products-selection {
  transition: all ease 500ms;
  border: solid 1px var(--border-list);
  border-radius: 0.5rem;
}

.settings-page button:hover {
  /* background-color: var(--accent); */
  background-color: var(--hover-bg);

  color: var(--foreground);
}
.add-category-btn,
.settings-page button {
  background-color: var(--border-list);
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
  border: solid 1px var(--dash-bg);
}

.status-span {
  background-color: var(--divider);
  border: solid 1px var(--divider);
  border-radius: 0.4rem;
}

.confirm-delivery button,
.schedule-button,
.delivery-btn,
.deny-btn,
.accept-btn {
  padding: 0.4rem 1rem;
  border: 1px solid var(--divider);
  border-radius: 0.2rem;
}

/* .user-header a, */
.order-status button,
.purchase-list button,
.deliveries-details button,
.order-header button {
  padding: 0.3rem 1.2rem;
  border: 1px solid var(--border-list);
  border-radius: 0.2rem;
}

.confirm-delivery button:hover,
.fullfill-btn:hover,
.order-status button,
.deliveries-details button,
.order-header button,
.purchase-list button:hover,
.schedule-button:hover,
.deny-btn:hover {
  background-color: var(--border-list);
}

.confirm-delivery button:hover,
.user-header a:hover,
.purchase-list button:hover,
.schedule-button:hover,
.delivery-btn:hover,
.deny-btn:hover,
.accept-btn:hover {
  border-radius: 0;
  translate: 0 -2px;
}
.accept-btn {
  background-color: #303b2b;
}

.deny-btn {
  background-color: var(--dash-bg);
}

.order-details {
  background-color: var(--border-list);
  border-radius: 0.4rem;
}

.schedule-info {
  background-color: var(--input-bg);
  padding: 1rem;
  border-radius: 0.4rem;
}
.delivery-item:hover {
  border-radius: 0;
  /* background-color: var(--input-bg); */
  background-color: var(--hover-bg);
}
.delivery-item {
  background-color: var(--border-list);
  padding: 1rem;
  border-radius: 0.4rem;
}

.delivery-details {
  background-color: var(--border-list);
  border: 2px solid var(--input-bg);
  border-radius: 0.4rem;
}

.list-logs,
.list-orders,
.list-purchases {
  border: var(--list-bg) 1px solid;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: var(--list-bg);
}

.orders-filter div {
  padding: 0.4rem 0.6rem;
  border: 1px solid var(--border-list);
  border-radius: 0.4rem;
}

.severity-logs:hover {
  border: 1px solid var(--divider);
}
.severity-logs {
  background-color: var(--border-list);
  border: 1px solid var(--border-list);
  border-radius: 0.16rem;
}

.recipe-items-list,
.product-detail-desc {
  background-color: var(--input-bg);
  border-radius: 0.4rem;
}

.profile-details button {
  padding: 0.4rem 0.8rem;
}

.profile-sections button {
  background: none;
  color: var(--divider);
  border-radius: 0;
  border-bottom: 1px solid var(--divider);
}

.active-view {
  color: var(--foreground) !important;
  border-bottom: 1px solid var(--foreground) !important;
}
.profile-sections button:hover {
  background: none;
  color: var(--foreground);
  border-bottom: 1px solid var(--foreground);
}

.details-section,
.personal-section {
  border: 1px solid var(--border-list);
  border-radius: 0.4rem;
  padding: 2rem;
}
.details-section p,
.products-selection p,
.personal-section p {
  color: var(--divider);
}

.log-info-details span {
  background-color: var(--input-bg);
  padding: 1rem;
  border-radius: 0.4rem;
}

.ep--back {
  transition: all 250ms ease-in;
}
.ep--back:hover {
  translate: 0 -2px;
}

.order-details button {
  background-color: var(--input-bg);
}

.signup-form,
.login-form {
  max-width: 500px;
}

.unselected-supplier:hover {
  background-color: var(--input-bg);
  border: solid 1px var(--foreground);
  border-radius: 0;
}
.unselected-supplier {
  border: solid 1px var(--divider);
  border-radius: 0.4rem;
  /* padding: 1rem; */
  background-color: var(--hover-bg);
}

.selected-supplier {
  border: solid 1px var(--divider);
  background-color: var(--hover-bg);
  padding: 1rem;
}

.rate-buttons button {
  border: none;
  background: none;
  padding: 0.2rem 0.2rem;
}
.rate-buttons button:hover {
  background-color: var(--list-bg);
}

.search-term input:active,
.search-term input:focus,
.search-term input {
  border: none;
  background: none;
  width: 100%;
}
.search-term button:hover {
  text-decoration: underline;
  color: var(--foreground);
}
.search-term button {
  padding: 0 0.4rem;
}

.search-term {
  background-color: var(--background);
}

.form-second-row input {
  max-width: 8rem;
}

.modal-category div {
  background-color: var(--foreground);
  color: var(--border-list);
  border-radius: 0.4rem;
  max-width: 400px;
}

.modal-category input {
  max-width: 100%;
  color: var(--foreground);
}

.dash-card-admin {
  padding: 1rem;
  background-color: var(--accent);
  border-radius: 0.4rem;
  min-width: 150px;
}

.top-lists li {
  border-bottom: 1px solid var(--hover-bg);
}

.admin-products table,
.admin-orders table,
.top-stats ul,
.admin-users table {
  background-color: var(--accent);
  border-radius: 0.4rem;
  border: 2px solid var(--accent);
}

.suggestions-list {
  border-radius: 0.4rem;
  background-color: var(--background);
}

.suggestions-list li:hover {
  background-color: var(--admin-card);
}

.products-selection li:hover {
  background-color: var(--list-bg);
  border-radius: 0.4rem;
}

.header-menu {
  background-color: var(--background);
  border: 2px solid var(--hover-bg);
  border-radius: 0.4rem;
  min-height: 80vh;
}
